// body {
//   background-image: url('https://images.unsplash.com/photo-1459865264687-595d652de67e?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   height: 100%;
//   margin: 0;
// }


#new-group {
  font-family: 'Black Ops One', sans-serif;
  text-align: center;
  margin-bottom: 12px;
}


.main-container-group-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 0;
  background-image: url("https://images.unsplash.com/photo-1459865264687-595d652de67e?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}


.card-container-group-form {
  background-color: rgba(245, 245, 245, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  max-width: 300px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 2px;
  position: relative;
}


.new-group-form {
  font-family: 'Black Ops One', sans-serif;
  color: #012B4D;
  font-size: 28px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}


.form-actions-group-form {
  text-align: center;
  margin-top: 20px;
}

.btn-12-group-form {
  // display: block;
  // display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
  color: map-get($theme-colors, "newwhite");
  background: map-get($theme-colors, "info");
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  margin: 12px;
}


.fix-button-position {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.back-btn-group-form {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  color: #808080;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
  width: auto;
  margin-bottom: 20px;

  width: 100%;
  margin-bottom: 15px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
}
