<style>
.footer {
  background: linear-gradient(to right, rgb(1,43,77) 0%, rgb(1,43,77) 40%, rgb(17,107,123) 60%, rgb(28,174,130) 100%);
  color: #F2F3F4;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90px; /* Adjust this value to make the bar thinner */
}

.footer-info {
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  font-size: 0.8em; /* Adjust this value to make the text smaller */
}

.footer-copyright {
  text-align: center;
  font-size: 0.8em; /* Adjust this value to make the text smaller */
}
</style>

<footer class="footer">
  <div class="container">
    <ul class="footer-info">
      <li>Contact:</li>
      <li>info@matchmate.com</li>
      <li>+55 21-9123-4567</li>
    </ul>
    <p class="footer-copyright">© 2023 Match Mate. All rights reserved.</p>
  </div>
</footer>
