<h1>Index page</h1>


<ul>
  <% @games.each do |game| %>
    <li>
      <p><%= "#{game.city}, #{game.date}, #{game.home_team.name} vs #{game.away_team.name}"%></p>
      <p><%= link_to "View Game", game_path(game)%></p>
    </li>
  <% end %>
</ul>


<%= link_to "Homepage", root_path %>
