.user-profile-picture {
  border-radius: 50%;
  overflow: hidden;
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// h2 {
//   text-decoration: none;
// }
