$theme-colors: (
  "primary": #012B4D,
  "secondary": #997405,
  "info": #1CAE82,
  "success": #28a745,
  "danger": #dc3545,
  "warning": #ffc107,
  "light": #f8f9fa,
  "dark": #343a40,
  "newwhite": #F2F3F4,
);

body, h1, .container, .d-sm-flex {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@import "bootstrap";
@import "font-awesome";
@import "components/index";
@import "pages/index";
@import 'components/user_profile';

.btn-google {
  align-items: center;
  appearance: none;
  background-color: map-get($theme-colors, "info"); // Main button color
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 3px -1px, rgba(0, 0, 0, .08) 0 3px 4px 0, rgba(0, 0, 0, .06) 0 1px 5px 0;
  box-sizing: border-box;
  color: map-get($theme-colors, "newwhite"); // Text color
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;

  &:hover {
    background: map-get($theme-colors, "warning"); // Hover color
    color: #174ea6; // Text color on hover
  }
}

.btn {
  &.btn-info {
    background-color: rgba(map-get($theme-colors, "info"), 0.8);
    color: #F2F3F4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    font-family: 'Audiowide', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.btn-g2 {
  align-items: center;
  appearance: none;
  background-color: map-get($theme-colors, "primary"); // Main button color
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 3px -1px, rgba(0, 0, 0, .08) 0 3px 4px 0, rgba(0, 0, 0, .06) 0 1px 5px 0;
  box-sizing: border-box;
  color: map-get($theme-colors, "newwhite"); // Text color
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px; // Adjust the font size
  font-weight: bold;
  height: 40px; // Adjust the height
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 16px; // Adjust the padding
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;

  &:hover {
    background: map-get($theme-colors, "warning"); // Hover color
    color: map-get($theme-colors, "primary"); // Text color on hover
  }
}

.btn-g3 {
  align-items: center;
  appearance: none;
  background-color: map-get($theme-colors, "newwhite"); // Main button color
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 3px -1px, rgba(0, 0, 0, .08) 0 3px 4px 0, rgba(0, 0, 0, .06) 0 1px 5px 0;
  box-sizing: border-box;
  color: map-get($theme-colors, "primary"); // Text color
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px; // Adjust the font size
  font-weight: bold;
  height: 40px; // Adjust the height
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 16px; // Adjust the padding
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;

  &:hover {
    background: map-get($theme-colors, "warning"); // Hover color
    color: map-get($theme-colors, "primary"); // Text color on hover
  }
}

.navbar-title {
  margin-left: 10px;
  color: #F2F3F4;
  font-family: 'Black Ops One', cursive;
  font-size: 30px;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, .1) 0 2px 2px;
}
.nav-link {
  color: map-get($theme-colors, newwhite) !important;
}

.nav-link.active {
  text-decoration: underline;
  color: map-get($theme-colors, newwhite) !important;
}

.btn-dark-blue {
  background-color: #001626; /* Very dark blue */
  color: #ffffff; /* White text */
  border-color: #001626; /* Border color matches background color */

  &:hover {
    background-color: #ffc107; /* Warning yellow on hover */
    border-color: #ffc107; /* Border color on hover matches background color */
    color: #001626; /* Dark blue text on hover */
  }
}
